.titulo {
    margin-top: 80px;
  }
  
  .lead {
    color: #6c757d;
    font-size: 1.2rem;
  }
  
  .row {
    justify-content: center;
    gap: 15px;
  }
  
  .btn-primary-quina {
    background-color: #0B2E7F;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 200px;
  }
  
  .btn-primary-quina:hover {
    background-color: #0BAFE4;
    transform: scale(1.05);
  }

  /* Container para a imagem do logo */
.logo-container {
  margin-top: -50px;
  margin-bottom: -45px;
}

/* Estilo da imagem do logo */
.quina-logo {
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
}