.titulo {
    margin-top: 80px;
  }
  
  .lead {
    color: #6c757d;
    font-size: 1.2rem;
  }
  
  .row {
    justify-content: center;
    gap: 15px;
  }
  
  .btn-primary-supersete {
    background-color: #00C89D;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 200px;
  }
  
  .btn-primary-supersete:hover {
    background-color: #51E5B2;
    transform: scale(1.05);
  }

  .logo-container {
    margin-top: -80px;
    margin-bottom: -65px;
  }
         
  .supersete-logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
   }