.titulo {
    margin-top: 80px;
  }
  
  .lead {
    color: #6c757d;
    font-size: 1.2rem;
  }
  
  .row {
    justify-content: center;
    gap: 15px;
  }
  
  .btn-primary-lotofacil {
    background-color: #5D34AE;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 200px;
  }
  
  .btn-primary-lotofacil:hover {
    background-color: #C648A2;
    transform: scale(1.05);
  }
  
    /* Container para a imagem do logo */
.logo-container {
  margin-top: -60px;
  margin-bottom: -35px;
}

/* Estilo da imagem do logo */
.loto-facil-logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}