.titulo {
    margin-top: 80px;
  }
  
  .lead {
    color: #6c757d;
    font-size: 1.2rem;
  }
  
  .row {
    justify-content: center;
    gap: 15px;
  }
  
  .btn-primary-duplasena {
    background-color: #9E0122;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 200px;
  }
  
  .btn-primary-duplasena:hover {
    background-color: #FC5646;
    transform: scale(1.05);
  }

    /* Container para a imagem do logo */
    .logo-container {
      margin-top: -50px;
      margin-bottom: -45px;
    }
    
    /* Estilo da imagem do logo */
    .duplasena-logo {
      width: 250px;
      height: auto;
      display: block;
      margin: 0 auto;
    }