.titulo {
    margin-top: 80px;
  }
  
  .lead {
    color: #6c757d;
    font-size: 1.2rem;
  }
  
  .row {
    justify-content: center;
    gap: 15px;
  }
  
  .btn-primary-diadesorte {
    background-color: #703F26;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 200px;
  }
  
  .btn-primary-diadesorte:hover {
    background-color: #B1927C;
    transform: scale(1.05);
  }

      /* Container para a imagem do logo */
      .logo-container {
        margin-top: -80px;
        margin-bottom: -65px;
         }
         
         /* Estilo da imagem do logo */
   .diadesorte-logo {
         width: 200px;
         height: auto;
         display: block;
         margin: 0 auto;
   }