.historico-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.tabela-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

.tabela-historico {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.tabela-historico th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 12px;
    font-size: 1rem;
}

.tabela-historico td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 0.95rem;
    color: #333;
}

.tabela-historico tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabela-historico tr:hover {
    background-color: #e1f5fe;
}

.numeros-sorteados-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.numero-sorteado {
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.premio-detalhes {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 4px;
}

.premio-detalhes th {
    background-color: #1976d2;
    color: white;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.premio-detalhes td {
    padding: 8px;
    font-size: 0.9rem;
    color: #555;
    border: 1px solid #ddd;
}

.mt-3 {
    margin-top: 1rem;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #495057;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.trevos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .trevo {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    background-color: #dff0d8; /* fundo verde claro */
    color: #3c763d; /* texto verde escuro */
    font-weight: bold;
    border-radius: 12px;
    font-size: 0.9em;
  }
  
  /* Adiciona um ícone de trevo antes do valor */
  .trevo::before {
    content: "🍀";
    margin-right: 4px;
  }
  